@{
    ViewData["Title"] = "Meteorite Page";
}

<div class="text-center">
    <h1 class="display-4">Meteorite Explorer</h1>
</div>

<div>
    @Html.BeginForm()
    {
        <input placeholder="Search Term" value="searchTerm"/>
        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Name Type</th>
            <th>Rec Class</th>
            <th>Mass (g)</th>
            <th>Fall</th>
            <th>Year</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

